* {
    color: black;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
/* canvas {
    border-radius: 12px;
} */
/* ------------------------ Custom Scroll Bar ------------------------- */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: black;
}